[submodule "webapps/navbar"]
	path = webapps/navbar
	url = https://github.com/profcomff/navbar-element
	branch = main
[submodule "webapps/timetable"]
	path = webapps/timetable
	url = https://github.com/profcomff/timetable-webapp
	branch = main
[submodule "webapps/services"]
	path = webapps/services
	url = https://github.com/profcomff/services-webapp
	branch = main
[submodule "webapps/aggregator"]
	path = webapps/aggregator
	url = https://github.com/profcomff/aggregator-app
	branch = main
[submodule "webapps/toolbar"]
	path = webapps/toolbar
	url = https://github.com/profcomff/toolbar-element
	branch = main
[submodule "webapps/devtools"]
	path = webapps/devtools
	url = https://github.com/profcomff/devtools-webapp.git
[submodule "webapps/auth"]
	path = webapps/auth
	url = https://github.com/profcomff/auth-webapp.git
	branch = main
[submodule "packages/common"]
	path = packages/common
	url = https://github.com/profcomff/ui-common.git
	branch = main
